process.container = 'quay.io/nextflow/bash'
profiles {
  original {
  }

  override {
    includeConfig "MY_GH_PAT@raw.githubusercontent.com/EmpressTx/nf-configs/main/conf/empress_tower_prod.config>https://EmpressTx:$MY_GH_PAT@raw.githubusercontent.com/EmpressTx/nf-configs/main/conf/empress_tower_prod.config"
  }
}
